#set($length=$package.Service.length() - 8)
#set($prefix=$package.Service.substring(0, $length))
#set($lowerEntity=$entity.substring(0,1).toLowerCase() + $entity.substring(1))
package ${prefix}.service.impl;

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

/**
 * ${table.comment}Impl
 * @author ${author}
 * ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

}
